.painel-part{
    height: 600px;
    margin-bottom: 250px;
}

.container{
    width: 96%;
    margin: 0;
}

.painel-part .nossaEquipe{
    text-align: center;
}

.painel-part .title{
    color: white;
    font-size: 40px;
    margin-bottom: 50px;
    text-align: center;
}

.painel-part .participantes{
    text-align: center;
}

.painel-part .participante{
    display: inline-block;
    margin: 0 40px 40px 0;
    padding: 18px;
    width: 220px;
    vertical-align: top;
}

.painel-part .foto{
    border-radius: 50%;
}

.painel-part #jonas{
    width: 92%;
}

.painel-part #erik{
    width: 92%
}

.painel-part #fellipe{
    width: 92%
}

.painel-part #mariane{
    width: 92%
}

.painel-part #caio{
    width: 92%
}

.painel-part #joao{
    width: 92%
}

.painel-part .participante-nome{
    margin-top: 10px;
}

.painel-part .linkedin{
    width: 22%;
    margin-right: 10px;
    margin-bottom: 1px;
    display:inline-block;
}

.painel-part .gitHub{
    width: 25%;
    margin-top: 5px;
}


